[submodule "mojo"]
	path = contrib/mojo
	url = git://github.com/kraih/mojo.git
[submodule "contrib/mojo"]
	path = contrib/mojo
	url = http://github.com/kraih/mojo.git
[submodule "contrib/mojox-validator"]
	path = contrib/mojox-validator
	url = http://github.com/vti/mojox-validator.git
[submodule "contrib/mojolicious-plugin-bot_protection"]
	path = contrib/mojolicious-plugin-bot_protection
	url = http://github.com/vti/mojolicious-plugin-bot_protection.git
